@model GestaoComercial.Web.Models.Cliente

@{
    ViewBag.Title = "Deletar Cliente";
}

<h2>Deletar Cliente</h2>

<div>


    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.NomeCliente)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NomeCliente)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.NomeCompletoRazaoSocial)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NomeCompletoRazaoSocial)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ApelidoNomeFantasia)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ApelidoNomeFantasia)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CPFCNPJ)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CPFCNPJ)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Deletar" class="btn btn-default" onclick="return confirm('Deseja deletar o Cliente ?')" />
            @Html.ActionLink("Retornar para a listagem", "Index", null, new { @class = "btn btn-default" })
        </div>
    }
</div>
